body{
	background-image:url(https://cdn.pixabay.com/photo/2022/03/03/15/40/coffee-7045578_1280.png);
	padding:50px;
	font-family:Arial,serif;
}
.menu{
	background-color:burlywood;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	max-width:500px;
	padding:20px;
}

h1{
	  margin-left: auto;
  margin-right: auto;
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50px
}

.cafeQuote{
	font-size:15px;
}

h1, h2{
	font-family:Monaco, serif;
}

h1,h2,p{
	text-align:center;
}

.established{
	font-size:10px;
	font-style:italic;
}

.item p {
	display:inline-block;
	font-size:16px;
}

.drink, .dessert{
	text-align:left;
	width:75%;
}

.price{
	text-align:right;
	width:25%;
}

.drink, .dessert, .price{
	color:black
}

hr{
	height:2px;
	border-color:white;
	background-color:white;
}